@{
    ViewData["Title"] = "Home Page";
}

<h1>Página HTML</h1>
@section Scripts{ 
    <p>Esta é a section Script de Index</p>
}

@*referente ao @RenderSection Shared/_Layout.cshtml
    
    Shared = views compartilhadas*@