<br />
<hr />
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - EXEMPLO PARTIAL VIEW <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>