@page
@model RazorClassLibrary01.MyFeature.Pages.Page1Model
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Relógio</title>
</head>
<body>
    <h2>@TempData["Usuario"]</h2>
    <hr />
    <h2>@TempData["Horario"]</h2>
</body>
</html>
